@using WebScheduler.Models
@model IEnumerable<ApplicationUser>

@{ ViewBag.Title = "Manage Staff";}

<style>
    .list-group{
        display:inline-table;

    }
</style>

<h1>@ViewBag.Title</h1>

<div class="list-group">
    <label>Active Staff</label>
    
    @foreach (ApplicationUser user in Model)
    {
        if (user.IsActive)
        {
            <div class="form-inline">
                <form method="post" asp-controller="admin" asp-action="deactivate" asp-route-id="@user.Id">
                    <a class="list-group-item" href="/#">@user.Name</a>
                    <button type="submit" class="btn">Deactivate</button>
                </form>
            </div>
            <br />

        }

    }
 
</div>
<br />

<div class="list-group">
    <label>Inactive Staff</label>
    @foreach (ApplicationUser user in Model)
    {
        if (!user.IsActive)
        {
            <div class="form-inline">
                <form method="post" asp-controller="admin" asp-action="activate" asp-route-id="@user.Id">
                    <a class="list-group-item" href="/#">@user.Name</a>
                    <button type="submit" class="btn">Activate</button>
                </form>
            </div>
            <br />
        }

    }
    
</div>