@using WebScheduler.Models
@model IList<ApplicationUser>

@{ ViewBag.Title = "Staff Requests Off";}

<h1>@ViewBag.Title</h1>

@foreach (ApplicationUser user in Model)
{
    <table class="table-bordered">
        <caption>@user.Name</caption>
        <tr>
            <th>Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Notes</th>
        </tr>

        @foreach (RequestOff requestOff in user.RequestsOff)
        {
            <tr>
                <td>@requestOff.Date.Month/@requestOff.Date.Day</td>
                <td>@requestOff.StartTime</td>
                <td>@requestOff.EndTime</td>
                <td>@requestOff.Notes</td>
            </tr>

        }
    </table>

}